# ==== ENVIRONNEMENT ====
.env
.venv/
venv/
env/
ENV/
*.env
*.env.*
bank_reviews_transform/dbt_env/
airflow_venv1/
# ==== PYTHON ====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# === FICHIERS TEMPORAIRES ===
*.log
*.tmp
*.bak
*.swp

# === GROS FICHIERS DONNÉES ===
*.csv
*.tsv
*.parquet
*.xls
*.xlsx
*.jsonl
*.sqlite
*.db
*.zip
*.gz

# === IDE ===
.vscode/
.idea/
.DS_Store

# === AIRFLOW ===
airflow.db
logs/
dags/__pycache__/
*.pid

# === DBT ===
dbt_modules/
dbt_packages/
target/
dbt_project/.dbt/

# === JUPYTER NOTEBOOKS ===
.ipynb_checkpoints/

# === TESTS/EXPERIMENTS ===
tests/output/
output/
experiments/
